<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <h4>Please login</h4>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-md-auto">
      <container class="form-container">
        <form class="form" action="/auth/login" method="POST">
          <div class="mb-3">
            <label for="username here" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              name="username"
              required
            />
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label
              for="exampleInputPassword1"
              class="form-label"
            >Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
              required
            />
            <div id="passwordHelpBlock" class="form-text"></div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </container>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>

      {{#if errorMessage}}
        <div class="error">
          {{errorMessage}}
        </div>
      {{/if}}
      <div class="col-sm">
      </div>
      <div class="signup-link">
        Click
        <a href="/auth/signup">here</a>
        to signup.
      </div>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>