

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <h4>PLease tell us about your abduction</h4>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="AbductionMap"></div>

      <script src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}"></script>
      <script type="text/javascript" src="../js/AbductionMaps.js"></script>
    </div>
    <div class="col-md-auto">
      <container class="form-container">
        <form class="form" action="/abduction/create" method="POST">
          
          <div class="mb-3">
            <label  class="form-label">Show on the map where the abduction took place</label>
            <input
              type="text"
              class="form-control"
              name="longitude"
              required
            />
            <input
              type="text"
              class="form-control"
              required
              name="latitude"
            />
            <div id="longitudeHelp" class="form-text"></div>
          </div>
          
          <div class="mb-3">
            <label
              class="form-label"
            >City:</label>
            <input
              type="text"
              class="form-control"
              name="locationName"
              required
            />
            <div id="locationHelpBlock" class="form-text"></div>
            Tell us where you had the encounter
          </div>
          
          <div class="mb-3">
            <label
              class="form-label"
              id="datetimepicker1"
            >Date:</label>
            <input
              type="datetime-local"
              class="form-control"
              name="timeDate"
              required
            />
            <div id="timeDateHelpBlock" class="form-text"></div>
            Tell us when you had the encounter
          </div>
          
          <div class="mb-3">
            <label
              class="form-label"
            >Description:</label>
            <input
              type="text"
              class="form-control"
              name="description"
              required
            />
            <div id="descriptionHelpBlock" class="form-text"></div>
            Tell us all about the encounter
          </div>
          
          <div class="mb-3">
            <label
              class="form-label"
            >Picture:</label>
            <input
              type="text"
              class="form-control"
              name="pictures"
              value="{{pictures}}"
            />
            <div id="passwordHelpBlock" class="form-text"></div>
            Please provide a clear picture if possible
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
            <div class="col-sm">
            </div>
              {{#if errorMessage}}
                <div class="error">
                  {{errorMessage}}
                </div>
              {{/if}}
              <div class="col-sm">
              </div>
        </form>
      </container>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
