<h1>{{title}}</h1>
<p>Welcome to the alien hunters database.</p>

{{!-- {{#if session.user}}

 <a href="/abduction">Home</a>

{{else}}

<a href="/auth/signup">Signup</a> | <a href="/auth/login">Login</a> 

{{/if}} --}}


<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtzH8slEP3L7hPxyAncaS-s_u22flW--g"></script>
<script type="text/javascript" src="../js/maps.js"></script>
