/* Main color pallet:  
        Dark: #22577A
        Light Dark: #38A3A5
        Dark Light: #57CC99
        Light: #80ED99 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: whitesmoke;
  background-color: #38A3A5;
  text-align: center;
}

.row {
  border: #22577A solid 4px;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #57CC99;
}
.btns{
  text-align: end;
}

.logo{
  text-align: left;
}

.headerBtn {
  text-decoration: none;
  color: black;
}
.userBtn {
  padding-left: 1rem;
}
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* #abductionForm {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: column;
} */

/* #leftForm {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 10vw;
}

#rightForm {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 30vw;
}

label {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-top: 5px;
}

input {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* .block {
  width: 300px;
} */