/* Main color pallet:  
        Dark: #22577A
        Light Dark: #38A3A5
        Dark Light: #57CC99
        Light: #80ED99 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: whitesmoke;
  background-color: #38A3A5;
  text-align: center;
}

.row {
  border: #22577A solid 4px;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #57CC99;
}
.btns{
  text-align: end;
}

.logo{
  text-align: left;
}

.headerBtn,
  .headerBtn::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

.headerBtn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "HOVER ME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
 }
 
 .headerBtn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
 }
 
 @keyframes glitch {
  0% {
   clip-path: var(--slice-1);
   transform: translate(-20px, -10px);
  }
 
  10% {
   clip-path: var(--slice-3);
   transform: translate(10px, 10px);
  }
 
  20% {
   clip-path: var(--slice-1);
   transform: translate(-10px, 10px);
  }
 
  30% {
   clip-path: var(--slice-3);
   transform: translate(0px, 5px);
  }
 
  40% {
   clip-path: var(--slice-2);
   transform: translate(-5px, 0px);
  }
 
  50% {
   clip-path: var(--slice-3);
   transform: translate(5px, 0px);
  }
 
  60% {
   clip-path: var(--slice-4);
   transform: translate(5px, 10px);
  }
 
  70% {
   clip-path: var(--slice-2);
   transform: translate(-10px, 10px);
  }
 
  80% {
   clip-path: var(--slice-5);
   transform: translate(20px, -10px);
  }
 
  90% {
   clip-path: var(--slice-1);
   transform: translate(-10px, 0px);
  }
 
  100% {
   clip-path: var(--slice-1);
   transform: translate(0);
  }
 }
 

.userBtn {
  padding-left: 1rem;
}
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* #abductionForm {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: column;
} */

/* #leftForm {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 10vw;
}

#rightForm {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 30vw;
}

label {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-top: 5px;
}

input {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* .block {
  width: 300px;
} */